# Python Operators
* Arithmetic operators.
* Assignment operators.
* Comparison operators.
* Logical operators.
* Identity operators.
* Membership operators.
* Bitwise operators

## Arithmetic operators.

#### + Operator with Intiger

In [1]:
#int + int
5 + 2
3 + 7 # return only last line statment

10

In [2]:
print(5 + 2) # addition
print(3 + 7) #addition

7
10

In [3]:
7 + 2

9

In [6]:
7 + 3 + 2 + 5 # addition
#7 + 3 + 2 + 5
#10 + 2 + 5
#12 + 5
#17

17

#### + Operator with String data type

In [10]:
# str       +   str
"Muhammad " + "Qasim" # concatinact

'Muhammad Qasim'

In [13]:
#str + str # concatenate
"1"  + "1" # concatenate

'11'

In [11]:
#str + int
"1" + 2

TypeError: can only concatenate str (not "int") to str

In [15]:
#str + str
"1" + str(2) # type casting

'12'

In [16]:
#int + str
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
2.7 + 2.0

4.7

In [20]:
#int + float
3 + 2.7

5.7

#### + with List data type

In [18]:
l1 = ["a","b","c"]
l2 = ["x","y"]

l1 + l2 # combine two list

['a', 'b', 'c', 'x', 'y']

In [17]:
#int + int
1 + int("2")

3

# - Hypen 
* Subtraction with numbers oprands

In [8]:
8 - 3

5

In [21]:
l1 = ["a","b","c"]
l2 = ["a","b"]

l1 - l2 # combine two list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

# * asterik 
* Numbers
* String and Number

In [22]:
2 * 3 # Multiplication

6

In [23]:
"Qasim" * 3 # repetation

'QasimQasimQasim'

In [24]:
"Qasim " * 10 # repetation

'Qasim Qasim Qasim Qasim Qasim Qasim Qasim Qasim Qasim Qasim '

In [30]:
10 * "Qasim "

'Qasim Qasim Qasim Qasim Qasim Qasim Qasim Qasim Qasim Qasim '

In [32]:
a = """
Hello world
Pakistan zinda bad
""" * 3

print(a)

Hello world
Pakistan zinda bad

Hello world
Pakistan zinda bad

Hello world
Pakistan zinda bad

In [26]:
['a','b'] * 2

['a', 'b', 'a', 'b']

In [27]:
('a','b') * 2

('a', 'b', 'a', 'b')

In [28]:
{"a":'pakistan'} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

# /

In [35]:
27 / 3

9.0

#### DIVIVE ANSWERS SHOULD BE IN INT

In [36]:
27 // 3 # FLOOR DIVISION

9

In [37]:
29 // 3

9

#### % Modulus

In [38]:
11 % 3

2

In [39]:
77 % 2

1

In [40]:
80 % 2

0

## **Exponentiation

In [41]:
2 ** 3
# 2 * 2 * 2

8

In [44]:
2 ** 5
# 2 * 2 * 2 * 2 * 2

32

## Python Assignment Operators

In [45]:
a = 7
print(a)
print(a)
print(a)

7
7
7

In [46]:
a = 20 # if change here then change all palceholder values
print(a)
print(a)
print(a)

20
20
20

In [47]:
a = 20
a = 10 # overwrite
a = 5 # overwrite last value
print(a)

5

In [50]:
a = 10
a = a + 2 # 12
a = a + 3 # 15
a

15

In [51]:
a = 10
a += 2 # 12 addition with previouse value a + 2 
a += 3 # 15  addition with previouse value a + 3 
a

15

In [52]:
a = 10
a = a - 2
a

8

In [53]:
a = 10
a -= 2
a

8

In [ ]:
+=
-=
*=
/=
//=
**=
%=

#### Python Comparison Operators

In [54]:
2 == 4

False

In [55]:
2 == 2

True

In [56]:
2 == "2"

False

In [57]:
2 > 7 # two is grather then 7

False

In [58]:
2 < 7 # two is lessthen 7

True

In [59]:
5 > 5

False

In [60]:
5 >= 5 # left 5 is grather or equal right 5

True

In [61]:
2 !=  2 # left two not equal to right two

False

In [62]:
5 <= 5

True

## Python Logical Operators
* and = lazmi
* or = optional

#### and:
* if all values of compresion returns are True then it will return True

In [63]:
True and True and True and True # all should be true

True

In [64]:
True and False and True and True

False

In [65]:
False and False and False and True

False

In [70]:
user = input("Please Enter User Name: ") # take input from user runtime
pas = input("Please Enter Your Password")

print()

print(user)
print(pas)

Please Enter User Name: Pakistan zinda bad
Please Enter Your Passwordasdf3

Pakistan zinda bad
asdf3

In [72]:
user = input("Please Enter User Name: ") 
pas = input("Please Enter Your Password")

user == "admin" and pas == "admin12"


# user = "admin"
# pas = "admin12"

# user == "admin" and pas == "admin12"
# "admin" == "admin" and 'admin12' == "admin12"
# True and 'admin12' == "admin12"
# True and True
# True

Please Enter User Name: admin
Please Enter Your Passwordadmin12

True

# OR
if any of condition is true then it will return True

In [73]:
True or True or True or True # all should be true

True

In [74]:
False or True or True or True # all should be true

True

In [75]:
False or False or False or True # all should be true

True

# not

In [76]:
user = "admin"
not user == "qasim"

True

In [79]:
user = "qasim"
not user == "qasim"

False

# Python Identity Operators

In [81]:
a = 5
y = 5

print(id(a))
print(id(y))

7394784
7394784

In [82]:
a == y # compaire value only

True

In [83]:
a is y # compaire object is same or not

True

# Python Membership Operators
* in
* not in

In [84]:
a = """
Pakistan zinda bad
we love our country
Hello world
Muhammad Qasim
"""


"Qasim" in a # contain search

True

In [85]:
"zinda" in a

True

In [86]:
"kistan" in a

True

In [87]:
'mmad Q' in a

True

In [88]:
names = ["qasim",'hamza',"junaind",'rashid','konain']

'rashid' in names

True

In [89]:
names = ["qasim",'hamza',"junaind",'rashid','konain']

'rashid' not in names

False

In [90]:
a = 5
b = "5"

print(id(a))
print(id(b))
# deep copy

7394784
139782255449584

In [91]:
a = 5
b = int("5")

print(id(a))
print(id(b))

7394784
7394784

In [93]:
a = 5
b = a

print(id(a))
print(id(b))

7394784
7394784

In [94]:
a is b

True

In [95]:
a = 5
b = "5"
a is b

False