{
    key1:value1,
    key2:value2,
    key2:value3
}

# always start "{" and "}"        {}
# key and value pair
# : seprator between key and value
# , seprator between key:value pair 

# key data types always should be string and int,Boolen -> any type where we can apply hashable function 
# value = any data type can be store or assign here

In [16]:
#            0              1               2    3             4                 5
data = ["Muhammad Qasim","Muhammad Aslam", 30, "MSDS", ["AI","ML","DL","DS"], "KARAS g12C"]
# we will replace index with key
data[0]

'Muhammad Qasim'

In [17]:
type(data)

list

In [18]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}

data

{'name': 'Muhammad Qasim',
 'father name': 'Muhammad Aslam',
 'age': 30,
 'education': 'MSDS',
 'skills': ['AI', 'ML', 'DL', 'DS'],
 0: 'Pakistan zinda bad',
 'mutation type': 'KARAS g12C'}

In [20]:
print(type(data))

<class 'dict'>

# How to access value from dictionary

```
dictionary[key]
```

In [8]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}

In [15]:
data[1]

KeyError: 1

In [14]:
data[0]# look like passing index but it is key of dictionary

'Pakistan zinda bad'

In [9]:
data['name']

'Muhammad Qasim'

In [10]:
data['father name']

'Muhammad Aslam'

In [11]:
data['age']

30

In [13]:
data['mutation type']

'KARAS g12C'

# example of dictionary or JSON data 
https://dummyjson.com/products

In [22]:
data = {
    "name":["Qasim","Hamza","Junaid"],
    'fname': ["Aslam","Abid","Iqbal"],
    "courses": ["ML","Python","DS"]
}

import pandas as pd
df = pd.DataFrame(data)

df

     name  fname courses
0   Qasim  Aslam      ML
1   Hamza   Abid  Python
2  Junaid  Iqbal      DS

In [24]:
df1 = pd.read_json("https://dummyjson.com/products")
df1.head()

                                            products  total  skip  limit
0  {'id': 1, 'title': 'iPhone 9', 'description': ...    100     0     30
1  {'id': 2, 'title': 'iPhone X', 'description': ...    100     0     30
2  {'id': 3, 'title': 'Samsung Universe 9', 'desc...    100     0     30
3  {'id': 4, 'title': 'OPPOF19', 'description': '...    100     0     30
4  {'id': 5, 'title': 'Huawei P30', 'description'...    100     0     30

# How we can create list

In [33]:
dic1  = {}

dic1['name'] = "Muhammad Qasim"

dic1['age'] = 30
dic1["course"] = "AI"

print(dic1)
dic1['name'] = "Asif Khan"# update or overwrite
print(dic1)

{'name': 'Muhammad Qasim', 'age': 30, 'course': 'AI'}
{'name': 'Asif Khan', 'age': 30, 'course': 'AI'}

In [39]:
[i for i in dir(data) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [43]:
data  = {}
#     key               value
data['name'] = "Muhammad Qasim" # add key1 value1
data['fname'] = "Muhammad Aslam"
data['course'] = "AI"
data['message'] = data['name'] +" " +data['course'] + " Student"

data

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'course': 'AI',
 'message': 'Muhammad Qasim AI Student'}

In [56]:
[i for i in dir(dict) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [45]:
data  = {}
#     key               value
data['name'] = "Muhammad Qasim" # add key1 value1
data['fname'] = "Muhammad Aslam"
data['course'] = "AI"
data['message'] = data['name'] +" " +data['course'] + " Student"

print(data)
data.clear()# clear all key value pairs
print(data)

{'name': 'Muhammad Qasim', 'fname': 'Muhammad Aslam', 'course': 'AI', 'message': 'Muhammad Qasim AI Student'}
{}

In [46]:
data

{}

In [47]:
data  = {}
#     key               value
data['name'] = "Muhammad Qasim" # add key1 value1
data['fname'] = "Muhammad Aslam"
data['course'] = "AI"
data['message'] = data['name'] +" " +data['course'] + " Student"

print(data)
del data # delete data variable
print(data)

{'name': 'Muhammad Qasim', 'fname': 'Muhammad Aslam', 'course': 'AI', 'message': 'Muhammad Qasim AI Student'}

NameError: name 'data' is not defined

# shallow copy and deep copy1

In [48]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    
}

data1 = data
data2 = data
data3 = data

In [49]:
print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}

In [50]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    
}


data1 = data # nickname = shallow copy
data2 = data# nickname = shallow copy
data3 = data# nickname = shallow copy

data3['name'] = "Muhammad Qasim"

print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}

In [52]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    
}


data1 = data.copy() # Deep Copy
data2 = data.copy() # Deep Copy
data3 = data.copy() # Deep Copy

data3['name'] = "Muhammad Qasim"

print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}

In [53]:
{"name":None,
"Fname":None}

{'name': None, 'Fname': None}

In [55]:
# data types below
str
int
list
tuple
dict

dict

# Create Dictionary with list of keys

In [57]:
keys = ["name",'fname','course','educations','address','timing','contact']

data = dict.fromkeys(keys)
data

{'name': None,
 'fname': None,
 'course': None,
 'educations': None,
 'address': None,
 'timing': None,
 'contact': None}

In [58]:
dict.fromkeys(keys)

{'name': None,
 'fname': None,
 'course': None,
 'educations': None,
 'address': None,
 'timing': None,
 'contact': None}

In [59]:
keys = ["name",'fname','course','educations','address','timing','contact']

data = dict.fromkeys(keys,"Not available")
data

{'name': 'Not available',
 'fname': 'Not available',
 'course': 'Not available',
 'educations': 'Not available',
 'address': 'Not available',
 'timing': 'Not available',
 'contact': 'Not available'}

# problem if key is not available then it show the error

In [63]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}

print(data['cnic'])# error KeyErro, it will not print others below steps
print("Pakistan")
print("Hello World!")
print("We Love our country!")

KeyError: 'cnic'

In [64]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}

data.get("name")

'Muhammad Qasim'

In [65]:
data.get("cnic")

In [66]:
print(data.get("cnic"))
print("Pakistan")
print("Hello World!")
print("We Love our country!")

Pakistan
Hello World!
We Love our country!

In [68]:
print(data.get("name"))
print("Pakistan")
print("Hello World!")
print("We Love our country!")

Muhammad Qasim
Pakistan
Hello World!
We Love our country!

In [71]:
print(data.get("cnic","Not available"))

Not available

In [70]:
print(data.get("name","Not available"))

Muhammad Qasim

In [74]:
data.get("cnic")

# Item, key, value

In [75]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}
data

{'name': 'Muhammad Qasim',
 'father name': 'Muhammad Aslam',
 'age': 30,
 'education': 'MSDS',
 'skills': ['AI', 'ML', 'DL', 'DS'],
 0: 'Pakistan zinda bad',
 'mutation type': 'KARAS g12C'}

In [76]:
data.items()

dict_items([('name', 'Muhammad Qasim'), ('father name', 'Muhammad Aslam'), ('age', 30), ('education', 'MSDS'), ('skills', ['AI', 'ML', 'DL', 'DS']), (0, 'Pakistan zinda bad'), ('mutation type', 'KARAS g12C')])

In [78]:
data.keys()

dict_keys(['name', 'father name', 'age', 'education', 'skills', 0, 'mutation type'])

In [79]:
data.values()

dict_values(['Muhammad Qasim', 'Muhammad Aslam', 30, 'MSDS', ['AI', 'ML', 'DL', 'DS'], 'Pakistan zinda bad', 'KARAS g12C'])

In [80]:
l1 = ['ABC',"Paki","hell",123]
print(l1)

['ABC', 'Paki', 'hell', 123]

In [82]:
'xyz' in l1 # boolean return

False

In [84]:
l1 = ['ABC',"Paki","hell",123]

for abc in l1:
    print(abc)

ABC
Paki
hell
123

In [86]:
l1 = ['ABC',"Paki","hell",123]

for xyz in l1:
    print(xyz)# local vairable scop

ABC
Paki
hell
123
123

In [87]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}


for abc in data:
    print(abc)

name
father name
age
education
skills
0
mutation type

In [89]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}


for abc in data.items():
    print(abc)

('name', 'Muhammad Qasim')
('father name', 'Muhammad Aslam')
('age', 30)
('education', 'MSDS')
('skills', ['AI', 'ML', 'DL', 'DS'])
(0, 'Pakistan zinda bad')
('mutation type', 'KARAS g12C')

In [90]:
#100  500  = unzip
a1 , a2 = (100, 500)

print(a1)
print(a2)

100
500

In [91]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}


for k,v in data.items():
    print("Keys is :", k, "Value is",v)

Keys is : name Value is Muhammad Qasim
Keys is : father name Value is Muhammad Aslam
Keys is : age Value is 30
Keys is : education Value is MSDS
Keys is : skills Value is ['AI', 'ML', 'DL', 'DS']
Keys is : 0 Value is Pakistan zinda bad
Keys is : mutation type Value is KARAS g12C

In [92]:
for k,v in data.items():
    print(k,v)

name Muhammad Qasim
father name Muhammad Aslam
age 30
education MSDS
skills ['AI', 'ML', 'DL', 'DS']
0 Pakistan zinda bad
mutation type KARAS g12C

In [93]:
for i in data.keys():
    print(i)

name
father name
age
education
skills
0
mutation type

In [94]:
for i in data.values():
    print(i)

Muhammad Qasim
Muhammad Aslam
30
MSDS
['AI', 'ML', 'DL', 'DS']
Pakistan zinda bad
KARAS g12C

In [95]:
"Pakistan zinda bad"

'Pakistan zinda bad'

In [97]:
for i in "Pakistan zinda bad":
    print(i)

P
a
k
i
s
t
a
n

z
i
n
d
a

b
a
d

In [98]:
list("Pakistan zinda bad")

['P',
 'a',
 'k',
 'i',
 's',
 't',
 'a',
 'n',
 ' ',
 'z',
 'i',
 'n',
 'd',
 'a',
 ' ',
 'b',
 'a',
 'd']

In [99]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
del data['name']
data

{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

# Return and None-Return function

In [101]:
a = print("Pakistan") # unable to stort value in variable = None REturn function
print(a)#

Pakistan
None

In [103]:
a = len("Pakistan")# 8 length to store in "a" variable
print(a)

8

In [105]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
del data['name']
data

{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

# pop return and delete key:value pair

In [106]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
a = del data['name']
print(a)

SyntaxError: invalid syntax (<ipython-input-106-29b8c099446e>, line 8)

In [107]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
data.pop("name")
data

{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

In [109]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
a = data.pop("name")# return value
print(data)
print("Deleted ",a)

{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}
Deleted  Qasim

In [111]:
completed_task = []

data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}

a = data.pop("name")
completed_task.append(a)

b = data.pop("qualification")
completed_task.append(b)

print(data)
print(completed_task)

{'fname': 'Aslam', 'age': 30}
['Qasim', 'MSDS']

In [114]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
print(data)
a = data.popitem()# return value

print("Deleted ",a)
print(data)

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}
Deleted  ('qualification', 'MSDS')
{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}

In [ ]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS',

}
print(data)
a = data.popitem()# return value

print("Deleted ",a)
print(data)

In [1]:
data = {
    "name":"Muhammad Qasim",
    "father name": "Muhammad Aslam",
    "age": 30,
    "education": "MSDS",
    "skills": ["AI","ML","DL","DS"],
    0:"Pakistan zinda bad",
    "mutation type": "KARAS g12C"
}

In [2]:
print(data.get("cnic","Not Available"))
print(data)

Not Available
{'name': 'Muhammad Qasim', 'father name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'skills': ['AI', 'ML', 'DL', 'DS'], 0: 'Pakistan zinda bad', 'mutation type': 'KARAS g12C'}

In [4]:
print(data.setdefault("cnic","Not Available11"))
print(data)

Not Available11
{'name': 'Muhammad Qasim', 'father name': 'Muhammad Aslam', 'age': 30, 'education': 'MSDS', 'skills': ['AI', 'ML', 'DL', 'DS'], 0: 'Pakistan zinda bad', 'mutation type': 'KARAS g12C', 'cnic': 'Not Available11'}

In [6]:
data

{'name': 'Muhammad Qasim',
 'father name': 'Muhammad Aslam',
 'age': 30,
 'education': 'MSDS',
 'skills': ['AI', 'ML', 'DL', 'DS'],
 0: 'Pakistan zinda bad',
 'mutation type': 'KARAS g12C',
 'cnic': 'Not Available11'}

In [7]:
d2 = {"name":"Muhammad Qasim abc",
     "education":"Master in Data Science"}
d2

{'name': 'Muhammad Qasim abc', 'education': 'Master in Data Science'}

In [8]:
data.update(d2)
data

{'name': 'Muhammad Qasim abc',
 'father name': 'Muhammad Aslam',
 'age': 30,
 'education': 'Master in Data Science',
 'skills': ['AI', 'ML', 'DL', 'DS'],
 0: 'Pakistan zinda bad',
 'mutation type': 'KARAS g12C',
 'cnic': 'Not Available11'}