In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

https://peps.python.org/pep-0020/

In [1]:
student name = "Ali"

SyntaxError: invalid syntax (2257675578.py, line 1)

In [4]:
student_name = "Ali"
print(student_name)

Ali

In [11]:
student_name = "Ali"
studnet_father_name = "Hamza"
batch = '04'
university_name = "NED"
age = 30
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'


student_card = """
NED PGD 
Batch: """+str(batch)+"""
Student: """+str(student_name)+""" Father’s Name: """+str(studnet_father_name)+"""
Age: """+str(age)+""" Gender: """+str(gender)+""" Class Timing: """+str(class_timing)

print(student_card)

NED PGD
Batch: 04
Student: Ali Father’s Name: Hamza
Age: 30 Gender: Male Class Timing: 5:15 to 7:15

In [8]:
5 + 7

12

In [9]:
"5" + "7"

'57'

In [10]:
'5' + '7'

'57'

In [16]:
a = "HeLLo WoRLd!"
print(a)
print(a.capitalize())
print(a.lower())
print(a.title())

HeLLo WoRLd!
Hello world!
hello world!
Hello World!

## formation with .format string method (sequance wise)

In [20]:
student_name = "Ali"
studnet_father_name = "Hamza"
batch = '04'
university_name = "NED"
age = 30
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'


card = """
NED PGD 
Batch: {}
Student: {} Father’s Name: {}
Age: {} Gender: {} Class Timing: {}
""".format(batch,student_name,studnet_father_name,age,gender,class_timing)

print(card)

NED PGD
Batch: 04
Student: Ali Father’s Name: Hamza
Age: 30 Gender: Male Class Timing: 5:15 to 7:15

In [24]:
student_name = "Ali"
studnet_father_name = "Hamza"
batch = '04'
university_name = "NED"
age = 30
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'


card = """
NED PGD 
Batch: {}
Student: {} Father’s Name: {}
Age: {} Gender: {} Class Timing: {}
""".format(student_name,studnet_father_name,batch,university_name,age,gender,date_of_admission,class_timing)
#               0      ,       1           ,  2  ,  3            ,4  , 5    , 6               ,7   

print(card)

NED PGD
Batch: Ali
Student: Hamza Father’s Name: 04
Age: NED Gender: 30 Class Timing: Male

## formation with .format string method (sequance wise)

In [21]:
student_name = "Ali"
studnet_father_name = "Hamza"
batch = '04'
university_name = "NED"
age = 30
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'


card = """
NED PGD 
Batch: {2}
Student: {0} Father’s Name: {1}
Age: {4} Gender: {5} Class Timing: {7}
""".format(student_name,studnet_father_name,batch,university_name,age,gender,date_of_admission,class_timing)
#               0      ,       1           ,  2  ,  3            ,4  , 5    , 6               ,7   
print(card)

NED PGD
Batch: 04
Student: Ali Father’s Name: Hamza
Age: 30 Gender: Male Class Timing: 5:15 to 7:15

# formation with

python 2.7.1
print "Pakistan"
#      core_structure.new_features.bugs_fixing
python 3.10.1
print("Pakistan")

## f"pakistan {variable_name}"

In [26]:
student_name = "Ali"
studnet_father_name = "Hamza"
batch = '04'
university_name = "NED"
age = 30
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'

card = f"""
NED PGD 
Batch: {batch}
Student: {student_name} Father’s Name: {studnet_father_name}
Age: {age} Gender: {gender} Class Timing: {class_timing}
"""

print(card)

NED PGD
Batch: 04
Student: Ali Father’s Name: Hamza
Age: 30 Gender: Male Class Timing: 5:15 to 7:15

## Old way for formation text

In [30]:
student_name = "Ali"
studnet_father_name = "Hamza"
batch = '04'
university_name = "NED"
age = 30
gender = "Male"
date_of_admission = "2022-01-16"
class_timing = '5:15 to 7:15'

#data type = symbol, place holder
# string  = %s
# int     = %d

card = """
NED PGD 
Batch: %s
Student: %s Father’s Name: %s
Age: %d Gender: %s Class Timing: %s
""" % (batch,student_name,studnet_father_name,age,gender,class_timing)

print(card)

NED PGD
Batch: 04
Student: Ali Father’s Name: Hamza
Age: 30 Gender: Male Class Timing: 5:15 to 7:15

# Additional Work Start

In [35]:
import pandas as pd
import numpy as np

df = pd.read_excel("./data.xlsx")
df.head(7)

   id    name   fname        course
0   1   Ahmed  Hunain       Python3
1   2  junaid   Iqbal        Python
2   3  Rashid   Imran            AI
3   4   Qasim   Yasir        Python
4   5  Konain  Nusrat  Data Science
5   6   Yasir  Rashid        Python
6   7   Jasim    Abid        Python

In [36]:
for sid,name,fname,course in df.values:
    card = f"""
    NED PGD 
    Student Id:{sid} 
    Student: {name} Father’s Name: {fname}
    Course: {course}
    """ 
    print(card)
    print('=====================')

    NED PGD
    Student Id:1
    Student: Ahmed Father’s Name: Hunain
    Course: Python3

=====================

    NED PGD
    Student Id:2
    Student: junaid Father’s Name: Iqbal
    Course: Python

=====================

    NED PGD
    Student Id:3
    Student: Rashid Father’s Name: Imran
    Course: AI

=====================

    NED PGD
    Student Id:4
    Student: Qasim Father’s Name: Yasir
    Course: Python

=====================

    NED PGD
    Student Id:5
    Student: Konain Father’s Name: Nusrat
    Course: Data Science

=====================

    NED PGD
    Student Id:6
    Student: Yasir Father’s Name: Rashid
    Course: Python

=====================

    NED PGD
    Student Id:7
    Student: Jasim Father’s Name: Abid
    Course: Python

=====================

# Additional Work End

# Help on any python function

In [37]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [38]:
help?

In [39]:
help??

In [40]:
?help

In [41]:
??help

write function and open close parenthesis ()
press Shift+Tab

In [ ]:
print()

# How we can see all method list of any data type

In [42]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [44]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
a = "Pakistan"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

'capitalize', ok
 'casefold', ok
 'center', ok
 'count', ok
 'encode', ok
 'endswith', ok
 'expandtabs', ok
 'find',ok
 'format', ok
 'format_map',
 'index', ok
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust', ok
 'lower', ok
 'lstrip', ok
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill'

In [46]:
a = "Pakistan ziDa BaD!"
print(a.capitalize())

Pakistan zida bad!

In [47]:
a = "Pakistan ziDa BaD!"
print(a.casefold())

pakistan zida bad!

In [48]:
a.center?

In [49]:
print(a.center(50))

                Pakistan ziDa BaD!

In [50]:
a = "Pakistan ziDa BaD!"
print(a.count('a'))

4

In [51]:
a = "Pakistan ziDa BaD!"
print(a.count(''))

19

In [53]:
print(a.lower().center(50).upper())

                PAKISTAN ZIDA BAD!

In [54]:
a = "Pakistan ziDa BaD!"
a.encode('cp1252')

b'Pakistan ziDa BaD!'

In [ ]:
# utf-8, utf-16, utf-32, utf-16-be, utf-16-le, utf-32-be, utf-32-le

In [57]:
a = "   Pakistan Zinda     bad          "
print(a)
print(a.strip())
print(a.lstrip())
print(a.rstrip())

   Pakistan Zinda     bad
Pakistan Zinda     bad
Pakistan Zinda     bad
   Pakistan Zinda     bad

In [58]:

a = "   Pakistan Zinda     bad          "
print(a)
print(a.strip())
print(a.lstrip())
print(a.rstrip())

#additional
import re
print(re.sub(" {2,100}"," ",a))

   Pakistan Zinda     bad
Pakistan Zinda     bad
Pakistan Zinda     bad
   Pakistan Zinda     bad
 Pakistan Zinda bad

In [61]:
a = "Pakistan Zinda bad".lower()
print(a)
a.find('zinda')

pakistan zinda bad

9

In [63]:
a = "Pakistan Zinda bad".lower()
print(a)
a.endswith("bad")

pakistan zinda bad

True

In [64]:
a = "Pakistan Zinda bad we love our country".lower()
print(a)
a.endswith("bad")

pakistan zinda bad we love our country

False

In [65]:
a = "Pakistan Zinda bad we love our country".lower()
print(a)
a.startswith("pakistan")

pakistan zinda bad we love our country

True

In [69]:
card = """
Name:\t Muhammad Qasim
Father's Name:\t Muhammad Qasim
"""

print(card)

print(card.expandtabs(20))

Name:	 Muhammad Qasim
Father's Name:	 Muhammad Qasim


Name:                Muhammad Qasim
Father's Name:       Muhammad Qasim

In [70]:
a = "Pakistan Zinda bad we love our country".lower()
print(a.index('love'))

22